@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    width: 100%;
}
.topo{
    display: flex;
    width: 100%;
    background-color: #000;
    height: 20vh;
    align-items: center;
    justify-content: center;
}
.descricao1{
    color: #fff;
    font-size: 1.5em;
    font-family: 'roboto';
    text-align: center;
}
.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
main{
    display: flex;
    width: 100%;
    min-height: 780px;
    background-image: url('../assets/roleta.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    align-items: center;
    
}
.box-card{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-content{
    display: flex;
    justify-content: center;
}
.titulo-content h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'roboto';
    text-align: center;
    font-size: 3em;
}
.titulo-content h1 span{
    color: #17eb29;
}
.descricao-content{
    display: flex;
    justify-content: center;
}
.descricao-content img{
    width: 40%;
    margin-top: 50px;
}
body{
    padding-bottom: 1000px;
}